<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
            <exclude>tests/Legacy</exclude>
        </testsuite>

        <testsuite name="legacy">
            <directory>tests/Legacy</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>tests</directory>
                <directory>vendor</directory>
                <directory>DependencyInjection</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
